---
const {
  title = 'Stocktaking inc.',
  description = 'Сервис инвентаризации для бизнеса',
  keywords = 'инвентаризация, учет товаров, управление складом',
  author = 'Stocktaking inc.',
  ogTitle = title,
  ogDescription = description,
  ogImage = '/opengraph-default.png',
  ogUrl = new URL(Astro.url.pathname, 'https://stocktaking-inc.com').href,
  ogType = 'website',
  twitterCard = 'summary_large_image',
  twitterTitle = 'Система инвентаризации | Stocktaking inc.',
  twitterDescription = description,
  twitterImage = ogImage,
  twitterSite = '@stocktakinginc',
  twitterCreator = '@stocktakinginc',
  canonicalUrl = new URL(Astro.url.pathname, 'https://stocktaking-inc.com').href,
  robots = 'index, follow',
  themeColor = '#007bff',
  geoPlacename = 'Russia',
  geoPosition = '55.7558;37.6176',
  icbm = '55.7558, 37.6176',
  category = 'Inventory Management, Logistics, Retail',
  locale = 'ru_RU'
} = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  />
  <meta
    name='robots'
    content={robots}
  />

  <title>{title}</title>
  <meta
    name='description'
    content={description}
  />
  <meta
    name='keywords'
    content={keywords}
  />
  <meta
    name='author'
    content={author}
  />
  <meta
    name='category'
    content={category}
  />

  <meta
    name='geo.placename'
    content={geoPlacename}
  />
  <meta
    name='geo.position'
    content={geoPosition}
  />
  <meta
    name='ICBM'
    content={icbm}
  />

  <link
    rel='canonical'
    href={canonicalUrl}
  />
  <link
    rel='icon'
    href='/favicon.ico'
  />

  <meta
    name='theme-color'
    content={themeColor}
  />
  <meta
    name='format-detection'
    content='telephone=no, email=no'
  />

  <meta
    property='og:type'
    content={ogType}
  />
  <meta
    property='og:url'
    content={ogUrl}
  />
  <meta
    property='og:title'
    content={ogTitle}
  />
  <meta
    property='og:description'
    content={ogDescription}
  />
  <meta
    property='og:image'
    content={ogImage}
  />
  <meta
    property='og:site_name'
    content={title}
  />
  <meta
    property='og:locale'
    content={locale}
  />
  <meta
    property='og:image:width'
    content='1200'
  />
  <meta
    property='og:image:height'
    content='630'
  />

  <meta
    name='twitter:card'
    content={twitterCard}
  />
  <meta
    name='twitter:title'
    content={twitterTitle}
  />
  <meta
    name='twitter:description'
    content={twitterDescription}
  />
  <meta
    name='twitter:site'
    content={twitterSite}
  />
  <meta
    name='twitter:creator'
    content={twitterCreator}
  />
  <meta
    name='twitter:image'
    content={twitterImage}
  />
  <meta
    name='twitter:domain'
    content='stocktaking-inc.com'
  />
</head>
