---
const {
  title = 'Stocktaking inc.',
  description = 'Сервис инвентаризации для бизнеса',
  keywords = 'инвентаризация, учет товаров, управление складом, бизнес аналитика, stocktaking, inventory management',
  author = 'Stocktaking inc.',
  ogTitle = title,
  ogDescription = description,
  ogImage = 'https://site-policies.vercel.app/opengraph.jpg',
  ogUrl = Astro.url.href,
  canonicalUrl = Astro.url.href
} = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  />
  <meta
    name='robots'
    content='index, follow'
  />

  <title>{title}</title>
  <meta
    name='description'
    content={description}
  />
  <meta
    name='keywords'
    content={keywords}
  />
  <meta
    name='author'
    content={author}
  />

  <link
    rel='canonical'
    href={canonicalUrl}
  />

  <link
    rel='icon'
    type='image/png'
    href='/icon.png'
  />

  <meta
    property='og:type'
    content='website'
  />
  <meta
    property='og:url'
    content={ogUrl}
  />
  <meta
    property='og:title'
    content={ogTitle}
  />
  <meta
    property='og:description'
    content={ogDescription}
  />
  <meta
    property='og:image'
    content={ogImage}
  />
  <meta
    property='og:site_name'
    content={title}
  />
</head>
